/* Everyday Shop 
                    --
                    --
                    --
                    */

.everyday-img-1 {
    background: url("../images/everyday-1.jpg") no-repeat center center;
}

.everyday-img-2 {
    background: url("../images/everyday-2.jpg") no-repeat center center;
}

.everyday-img-3 {
    background: url("../images/everyday-3.jpg") no-repeat center center;
}

.everyday-img-4 {
    background: url("../images/everyday-4.jpg") no-repeat center center;
}

.everyday-img-5 {
    background: url("../images/everyday-5.jpg") no-repeat center center;
}

.everyday-img-6 {
    background: url("../images/everyday-6.jpg") no-repeat center center;
}

.everyday-img-7 {
    background: url("../images/everyday-7.jpg") no-repeat center center;
}

.everyday-img-8 {
    background: url("../images/everyday-8.jpg") no-repeat center center;
}

.everyday-img-9 {
    background: url("../images/everyday-9.jpg") no-repeat center center;
}

.everyday-img-10 {
    background: url("../images/everyday-10.jpg") no-repeat center center;
}

.everyday-img-11 {
    background: url("../images/everyday-11.jpg") no-repeat center center;
}

.everyday-img-12 {
    background: url("../images/everyday-12.jpg") no-repeat center center;
}